<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    <title>{% block title %}
        文章标题：{{ column.title }}
    {% endblock title %}
    </title>

</head>
<body>
    {% block content %}
        <p>
        栏目名称：{{ column.name }}
        </p>
        栏目简介：{{ column.intro }}
        <div>
            栏目文章列表：
            <ul>
                {% for article in column.article_set.all %}
                    <li>
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock content %}
</body>
</html>